apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  annotations:
  name: adminweb-https
spec:
  routes:
    - kind: Rule
      match: Host(`{{ .Values.ingressroute.bksHostName }}`) && PathPrefix(`/admin-web`)
      middlewares:
        - name: ipwhitelist
        - name: adminweb-stripprefix
      priority: 10
      services:
        - kind: Service
          name: service-adminweb
          passHostHeader: true
          port: 8080
          responseForwarding:
            flushInterval: 1ms
          scheme: http
          sticky:
            cookie:
              httpOnly: true
              name: cookie
              sameSite: none
              secure: true
          strategy: RoundRobin
          weight: 10
  tls:
    domains:
      - main: {{ .Values.ingressroute.bksHostName }}
    secretName: {{ .Values.ingressroute.bksHostName }}-letsencrypt
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  annotations:
  name: adminweb-http
spec:
  routes:
  - kind: Rule
    match: Host(`{{ .Values.ingressroute.bksHostName }}`) && PathPrefix(`/admin-web`)
    middlewares:
      - name: ipwhitelist
      - name: adminweb-redirect-https
    services:
      - kind: Service
        name: adminweb-service
        port: 8080